{% load render_vite_bundle %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="author" content="Délita Makanda">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="title" content="dopejob - jobboard" />
  <meta name="description"
    content="start a new carrer" />
  <meta name="keywords"
    content="jobboard" />
  <title>dopejob v2</title>
  <link rel="manifest" href="{% static 'manifest.json' %}" />
  <link rel="icon" href="{% static 'favicon.ico' %}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-48.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16.png' %}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet" />

    {% if debug %}
  <script type="module" src="http://localhost:3000/@vite/client"></script>
  
  <!-- If you're using vite with React, this next script will be needed for HMR -->
  <script type="module">
    import RefreshRuntime from 'http://localhost:3000/@react-refresh'
    if (RefreshRuntime) {
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => { }
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    }
  </script>
  {% endif %}
</head>

<body id="{% block bodyId %}genericPage{% endblock %}">
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>

{% if debug %}
<!-- This url will be different for each type of app. Point it to your main js file. -->
<script type="module" src="http://localhost:3000/main.jsx"></script>
{% else %}
{% render_vite_bundle %}
{% endif %}
</body>

</html>